extends layout

block main
  .navbar.navbar-expand-sm.bg-light
    a(href='/')
      h1 Horse Races
  .content
    .forms
      button(type="button" id="showRace") Show Race
      include makeRace
      button(type="button" id="showHorses") Show Horses
      include addHorse
      button(type="button" id="betRaces") Show Bet
      include makeBet
      button(type="button" id="showResults") Show Results
      include showResults




