block showResults
    .results(style="display:none")
        table#results(style='width:100%', border='1')
            tr
                th RaceId
                th Losers
                th Winers

            tr
                td 001
                td Adam
                td 25
